  {% extends "base.html.twig" %}

  {% block title %} Commande {% endblock %}
 
 {% block body %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
   .divprincipale{
    
     margin-bottom:20px;
     margin-left:  126px;
     margin-right: 120px;
   }

   tr:nth-child(even){background-color: #f2f2f2;box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);}
   
    #customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
 
}
#customers td, #customers th {
  padding: 8px;
   border-radius: 2px ;
   border: 1px solid #f2f2f2;
    font-size: 16px;
}
 .forme{ 
    width: 920px;
    margin-bottom:10px;
    background: #F7F1F0;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.6),        
        0 1px 5px rgba(0,0,0,0.6),        
        0 0 0 12px rgba(235, 231, 230,0.2); 
     }
   
     .form-group{
       margin-left:6px;
       margin-right:6px;
     } 
     input[type=text]{
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    
    /* Font styles */
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
    color: #ee4c8d;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    font-size: 14px;       
    }
    input[type=text]:hover{
      border: 1px solid rgba(255,255,255,0.7);
    }
     .annuler{
    width: 30%;
    position: relative;
     top:12px;

    /* Styles */
    background: #ee4c8d;
    background:  -moz-radial-gradient(center, ellipse cover, #ee4c8d 0%, #b53467 100%);
    background:  -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ee4c8d), color-stop(100%,#b53467));
    background:  -webkit-radial-gradient(center, ellipse cover, #ee4c8d 0%,#b53467 100%);
    background:  -o-radial-gradient(center, ellipse cover, #ee4c8d 0%,#b53467 100%);
    background:  -ms-radial-gradient(center, ellipse cover, #ee4c8d 0%,#b53467 100%);
    background:  radial-gradient(ellipse at center, #ee4c8d 0%,#b53467 100%);

    border-radius: 0 5px 5px 0;
    box-shadow:
        inset 0 0 4px rgba(255, 255, 255, 0.7), 
        inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    border: none;
    border-left: 1px solid silver;
    cursor: pointer;  
    line-height: 102px; /* Same as height */
     }
     .enregistrer{
       width: 30%;
    position: relative;
    top:12px;
    background:  #5beb7f;
    background:  -moz-radial-gradient(center, ellipse cover,  #5beb7f 0%,  #338144 100%);
    background:  -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #5beb7f), color-stop(100%, #338144));
    background:  -webkit-radial-gradient(center, ellipse cover,  #5beb7f; 0%, #338144 100%);
    background:  -o-radial-gradient(center, ellipse cover,  #5beb7f 0%, #338144 100%);
    background:  -ms-radial-gradient(center, ellipse cover,  #5beb7f 0%, #338144 100%);
    background:  radial-gradient(ellipse at center,  #5beb7f 0%, #338144 100%);

    border-radius: 5px 0 0 5px;
    box-shadow:
        inset 0 0 1px rgba(255, 255, 255, 0.7), 
        inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    border: none;
    border-left: 1px solid silver;
    cursor: pointer;  
    line-height: 102px; /* Same as height */
     }
     #a{
    position:relative;
    bottom:30px;
    /* Font styles */ 
    color:  #8d1645;
    font-family: 'Montserrat', Arial, sans-serif; 
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-backface-visibility: hidden;
}
#e{
    position:relative;
    bottom:30px;
    /* Font styles */ 
    color: #3a6e46;
    font-family: 'Montserrat', Arial, sans-serif; 
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-backface-visibility: hidden;
}

button .check{
    position: relative;
    top: -25px;
   left: -20px;
    font-size: 64px;
    line-height: 109px;
    color: #3a6e46;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
 button .trash{
    position: relative;
    top: -25px;
   left: -20px;
    font-size: 64px;
    line-height: 109px;
    color: #8d1645;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
 button:focus {
    outline: none;
}
 button:hover span,
 button:focus span {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: rotate(0deg) translateY(-20px);
    -moz-transform: rotate(0deg) translateY(-20px);
    -ms-transform: rotate(0deg) translateY(-20px);
    -o-transform: rotate(0deg) translateY(-20px);
    transform: rotate(0deg) translateY(-20px);
}

 button:hover i,button:focus i {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    left: 45px;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
{# Bouton ajouter #}
.button {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-bottom:20px;
    
    -webkit-border-radius: 10px;
    
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
} 

.button #ids {
    background-color: #E8E8E8;
    
    background-image: 
        /* gloss gradient */
        -webkit-gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
            color-stop(50%,rgba(255,255,255,0.3)), 
            color-stop(100%,rgba(255,255,255,0.2))),
        
        /* dark outside gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(210,210,210,0.3)), 
            color-stop(20%,rgba(210,210,210,0)), 
            color-stop(80%,rgba(210,210,210,0)), 
            color-stop(100%,rgba(210,210,210,0.3))),
        
        /* light inner gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(20%,rgba(255,255,255,0.5)), 
            color-stop(80%,rgba(255,255,255,0.5)), 
            color-stop(100%,rgba(255,255,255,0))),        
        
        /* diagonal line pattern */
        -webkit-gradient(
            linear, 
            0% 100%, 
            100% 0%, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(40%,rgba(255,255,255,0)), 
            color-stop(40%,#D2D2D1), 
            color-stop(60%,#D2D2D1), 
            color-stop(60%,rgba(255,255,255,0)), 
            color-stop(100%,rgba(255,255,255,0)));
    
        -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    
    display: inline-block;
    padding: 10px 40px 10px 40px;
    
    color: #3A474D;
    text-transform: uppercase;
    font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
    font-weight: 700;
    font-size:16px;
    
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

        .button #ids:hover {
            color:  rgb(255, 171, 16);
            text-shadow: 0px -1px #97A63A;
            cursor: pointer;
        }

        .button:active {
            -webkit-box-shadow: 
                0px 3px rgba(128,128,128,1),
                0px 4px rgba(118,118,118,1),
                0px 5px rgba(108,108,108,1),
                0px 6px rgba(98,98,98,1),
                0px 7px rgba(88,88,88,1),
                0px 8px rgba(78,78,78,1),
                0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
        }

        .button:active #ids{
            -webkit-transform: translate(0, 5px); /* depth of button press */
        }

    .button #ids:after {
        content: ">";
        display: block;
        width: 10px;
        height: 10px;
    
        position: absolute;
        right: 14px;
        top: 3px;    
        
        font-family: 'Cabin';
        font-weight: 700;
        color: #AEBF3B;
        text-shadow: 0px 1px #fff, 0px -1px #97A63A;
        font-size: 26px;
    }
  
  </style>
 <div class="main-menu">
  <div class="main-menu-form">
    <div class="main-menu-btn"><i class="fa fa-bars "></i></div>
  </div>  
  <div class="main-menu-content">
    <!-- main logo -->
    <div class="main-menu-logo">
      <h2>Bienvenue dans notre projet symfony</h2>
    </div>
    <!-- navigation -->
   <ul class="main-menu-nav">
      <li><a href="{{ path('Acceuil')}}" class="orange"><i class="fa fa-home fa-fw"></i>&nbsp; Acceuil</a></li>
      <li><a href="{{ path('Client.index')}}" class="yellow"><i class="fa fa-book fa-fw front"></i>&nbsp; Client</a></li>
      <li><a href="{{ path('Produit.index')}}" class="green"><i class="fa fa-folder fa-fw"></i>&nbsp; Produit</a></li>
      <li><a href=""{{ path('Commande.index')}}class="purple"><i class="fa fa-envelope fa-fw"></i>&nbsp; Commande</a></li>
      <li><a href="{{ path('Contact.index')}}" class="purple"><i class="fa fa-envelope fa-fw"></i>&nbsp; contact</a></li>
      <li><a href="#" class="red"><i class="fa fa-users fa-fw"></i>&nbsp; About</a></li>
    </ul>

    <a href="#" class="main-menu-close"><i class="fa fa-close"></i>&nbsp; Close </a>
  </div>
</div>


<header id="header" class="container clearfix">
    <a href="#" id="logo">
		<img  src="{{ asset('build/images/logos.png') }} "  rel="Logos" />
	</a>
    
        <nav id="main-nav">
        
            <ul class="ul">
                <li  >
                    <a  class="me" href="{{ path('Acceuil')}}" data-description="Page d'acceuil">Acceuil</a>
                </li>
                <li class="li" >
                    <a class="me" href="{{ path('Client.index')}}" data-description="Page client">Client</a>
                    
                </li>
                <li class="li current" >
                    <a class="me" href=""{{ path('Commande.index')}} data-description="Tous les commande">Commande</a>
                    
                </li>
                <li class="li" >
                    <a class="me" href="{{ path('Produit.index')}}" data-description="List de tous les produit">Produit</a>
                    
                </li>
                <li class="li" >
                    <a class="me" href="{{ path('Contact.index')}}" data-description="Enquire here">Contact</a>
                </li>
            </ul>
    
        </nav><!-- end #main-nav -->
        
    </header><!-- end #header -->

<br>
<br>
<br>
    

<div class="divprincipale">
  
        <a class="button" id="ajout" style="margin-bottom:30x;" 
        {% if form.vars.submitted %} style="display:none;" {% endif %}>
                  <div id="ids">Ajouter</div>
       </a>
     <div class=" forme animated bounceInDown" id="formajout" {% if not form.vars.submitted %} style="display:none;" {% endif %} >
    
    {{ form_start(form) }}
   
    {{ form_widget(form) }}
    <hr>
    
    {# <a href="#" class="btn btn-primary" style="width:442px; height:70px">Enregistrer</a>
    <a href="#" class="btn btn-danger"     style="width:442px; height:70px">Annuler</a> #}
    <button type="submit" class="enregistrer" id="enreg" style="width:457px; height:60px;margin-left:2px"><i  class="fa fa-check check" style="font-size:40px"></i><span id="e" >Enregistrer</span></button>
    <button type="reset"  class="annuler" id="annul" style="width:457px; height:60px"><i  class="fa fa-trash-o trash" style="font-size:40px"></i><span id="a" >Annuler</span></button>
    
    {{ form_end(form) }}
    </div>
       {# </div> #} 
   
   
   <div class="contable" style="margin-bottom:20px;">
       
      <table  id="customers">
     <thead>
       <tr>
         <th scope="col">ID</th>
         <th scope="col">Client</th>
        
         
         <th scope="col">Commande</th>
         <th scope="col">Quantite</th>
          <th scope="col">Date commande</th>
         <th scope="col">Action</th> 
       </tr>
     </thead>
     <tbody >
     {% for Commandes in Commande %} 
       <tr> 
         
         <td>{{Commandes.getId()}}</td>
         
         <td>{{Commandes.client}}</td>
         <td></td>
         <td></td>
         <td>{{Commandes.getDateCommande()}}</td>
         {# <td>{{Commandes.getPrixCommande()}}</td> #}
         {# <td>{{Commandes.categorie}}</td> #}
         <td>
         <a href="#" class="btn btn-primary">Modifier</a>
          {# <a href="{{ path('Produit.edit',{id : Produit.getId()}) }}" class="btn btn-primary" > Modifier </a> #}
          {# <a href="{{ path('Produit.delete',{id : Produit.getId()}) }}" class="btn btn-danger delete-article" data-id="{{Produit.getId()}}" > Supprimer </a> #}
         
          {# <form id="bouton" method="post" action=" {{ path('Produit.delete',{id : Produits.getId()}) }} " style="display:inline-block" >
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_token" value="{{ csrf_token( 'delete' ~ Produits.getId() ) }}">
   
          <button class="buttons dsgnmoo" >Supprimer</button>
          </form> #}
            <button class="btn btn-danger" >Supprimer</button>
          </td>
       </tr>
       {% endfor %} 
     </tbody>
   </table>
   
   </div>

</div>

              {% endblock %}
              {% block javascripts %}              
       <script src="/js/main.js"></script> 

{% endblock %}